<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Library Management System</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditBookForm()">ADD BOOK</button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. William Shakespeare"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <!-- Author Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.author }}</td>
      </ng-container>

      <!-- ISBN Column -->
      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ISBN</th>
        <td mat-cell *matCellDef="let row">{{ row.isbn }}</td>
      </ng-container>

      <!-- Available Column -->
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Available</th>
        <td mat-cell *matCellDef="let row">{{ row.available }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            (click)="openEditBookForm(row)"
            color="primary"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            *ngIf="row.available"
            mat-icon-button
            (click)="borrowBook(row.id)"
            class="borrow-button"
          >
            <mat-icon>book</mat-icon>
          </button>
          <button
            *ngIf="!row.available"
            mat-icon-button
            (click)="returnBook(row.id)"
            class="return-button"
          >
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteBook(row.id)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
